{{ define "main" }}


<div class="band padForHeader pushFooter">
  <div class="bandContent">
    <div class="full splitColumns withMobileMargins">
      <div class="column75 learn-list">
        <div class="sectionTitle article-title">{{ .Title }}</div>
        
          <p>{{ .Content | markdownify }}</p>

          <!--beginning of jump to section-->
          <div class="listItem learn-top-nav">
            <ul>
            {{ range $index, $element := .Pages }}
              <li>
                <a class="learn-top-nav-item" href="#{{ anchorize (.Title) }}">{{ .Title | markdownify }}</a>
              </li>
            {{ end }}
            </ul>
          </div>
        
        <!--range across all subsections-->
        <div>{{ range $index, $element := .Pages }}
              {{ $post := . }}
              
        <!--anchorizing all subsection links-->
          <div class="listItem anchor-container">
            <div class="anchor" style="top: -100px; position: absolute;" id="{{ anchorize (.Title) }}"></div>
            <div class="itemDetails">
              <div class="itemHeader">
                <div class="itemTitle">
                  <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
                </div>
              </div>
              
              <div class="itemDescription">
              {{ if eq .Weight 1 }}
                {{ .Content }}
              {{ end }}
              </div>
              
              {{ if ne .Weight 1 }}
              <div class="itemMeta">
                <div class="flex-container learn-list">
                  
                  <!--thumbnail images-->
                  <div class="image-container learn-list">
                    <div class="image-cropper">
                      {{ $thumb := (.Resources.ByType "image").GetMatch "*thumbnail*" }}
                        {{ with $thumb }}
                        <img class="circle-thumbnail" src="{{ .RelPermalink }}">
                        {{ end }} 
                    </div>
                  </div>
                  
                 <div class="author article-content learn-list">
                    <ul>
                    <!-- Ranges through content/posts/*.md -->
                    {{ range .Pages.ByWeight }}
                        <li>
                        <a class="article-title" href="{{.Permalink}}">{{.Title}}</a>
                        {{ with .Description }}
                        <br> <p class="learning-objective-text"><em>{{ . | markdownify }}</em></p>
                      {{ end }}
                    </li>
                    {{ end }}
                  </ul>
                  <div class="itemDescription learn-list">{{ default .Description | markdownify }}
                    <a class="readMore" href="{{ .RelPermalink }}">Read more &rarr;</a>
                  </div>
                </div>
              </div>
 
              
              </div>
            {{ end }}
            </div>
          </div>
        {{ end }}</div>
      {{ template "_internal/pagination.html" . }}
      </div>

      <div class="column25">
        <div class="section">
          <div class="sectionTitle">Resources</div>
          {{ partial "resources_sticky.html" .}}
        </div>
      </div>

    </div>
  </div>  <!-- bandContent -->
</div> <!-- band -->

{{ end }}



