@import url('https://fonts.googleapis.com/css?family=Spartan:400,700&display=swap'); 

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap');

body, button, input, textarea {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }


.listItem .itemDetails .itemMeta .itemDate, .listItem .itemDetails .itemMeta .itemInfo {
  font-size: .875rem;
}    

.listItem .itemDetails .itemHeader .itemTag {
  font-size: .875rem;
}

/*----- general LINKS ----- */

a {
  transition: color 0.3s;
}

a:hover {
  text-decoration: none;
}

/*----- COLORED LIST BULLET----*/

.article-content ul {
  list-style: none; /* Remove default bullets */
}

.article-content ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #CA225E; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1.5em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.article-content ul > li > p {
  display: inline; /* to have content show up next to bullet */
}

.article-content ul > li { /*to add back in space between bullet items that I took away by making p display inline */
  margin-top: 1em;
  margin-bottom: 1em;
}

/*--------- HEADERS -------*/

div.tagline {
  font-family: 'Libre Baskerville', serif !important;
  text-transform: uppercase;
  font-size: 1.2rem !important;
  font-weight: bold;
  letter-spacing: 2px;
}

h1, .article-title {
  font-family: 'Libre Baskerville', serif;
  color: #CA225E;
  font-weight: bold;
  font-size: 2em;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 1.25em;
}



/*---------TOC----------*/

/*Contents header*/
.sectionTitle, .sectionTitle a {
  text-transform: uppercase;
  letter-spacing: 2pt;
  font-size: 0.8rem !important;
  font-weight: bold;
  color: #f6b73c;
}

/*TOC links */
#TableOfContents a {
  font-family: 'Libre Baskerville';
  color: #00000075;
  transition: color 0.3s;
  font-size: 15px;
}

#TableOfContents a:hover {
  color: silver;
  text-decoration: none;
}

.column25 {
  padding-left: 3em;
  border-left: solid #d9d9d9 1pt;
}

/*-------- NAVBAR --------- */

/*navbar header items */

a.productName {
  font-family: 'Libre Baskerville', serif !important;
  letter-spacing: 2;
  transition: color 0.3s; /*is this even being applied?? */
}

#menu {
  text-transform: uppercase;
  letter-spacing: 2pt;
  font-size: 0.8rem !important;
}
 
#rStudioHeader {
  -moz-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.15);
}

/*---- HOME BAND TEXT COLOR -----*/
/*first band*/

#homeContent .band.first a{
  color: #f6b73b;
  transition: color 0.3s;} 
  
#homeContent .band.first a:hover {
  color: #f37e45; } 

/*second band*/
#homeContent .band.second {
  color: black;
  border-bottom: solid 1pt #d9d9d9;
  border-top: solid 1pt #d9d9d9;
} 

#homeContent .band.second a{
  color: #f6b73b;
  transition: color 0.3s;} 
  
#homeContent .band.second a:hover {
  color: #f37e45; } 
  
#homeContent .bee1 {
  display: none;
}

/*----filtered hex colors -----*/
/*
.filtered {
   background: #ff3f9e;
   position: absolute;
   height: 139px;
   width: 120px;
   clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 49% 100%, 0 75%, 0 25%);
} */
/*img immediately following .filtered element */
/*.filtered + img { 
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.7;
}

.filtered.r0.c0, .filtered.r2.c0, .filtered.r4.c0 {
      left: 0; }
    .filtered.r0.c1, .filtered.r2.c1, .filtered.r4.c1 {
      left: 125px; }
    .filtered.r0.c2, .filtered.r2.c2, .filtered.r4.c2 {
      left: 250px; }
    .filtered.r0.c3, .filtered.r2.c3, .filtered.r4.c3 {
      left: 375px; }
    .filtered.r1.c0, .filtered.r3.c0, .filtered.r5.c0 {
      left: 62px; }
    .filtered.r1.c1, .filtered.r3.c1, .filtered.r5.c1 {
      left: 187px; }
    .filtered.r1.c2, .filtered.r3.c2, .filtered.r5.c2 {
      left: 312px; }
    .filtered.r1.c3, .filtered.r3.c3, .filtered.r5.c3 {
      left: 437px; }
    .filtered.r0 {
      top: 0px; }
    .filtered.r1 {
      top: 107.5px; }
    .filtered.r2 {
      top: 215px; }
    .filtered.r3 {
      top: 322.5px; }
    .filtered.r4 {
      top: 430px; }
    .filtered.r5 {
      top: 537.5px; }

@media screen and (max-width: 1023px) {
  .hexBadges {
    width: 350px; }
    .filtered.r0.c2, .filtered.r2.c2, .filtered.r4.c2 {
      left: 125px; }
    .filtered.r1.c2, .filtered.r3.c2, .filtered.r5.c2 {
      left: 187px; } } */
