@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i&display=swap');


.serif {
  font-family: 'Libre Baskerville', serif;
  color: #302c41;
}

body, button, input, textarea {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; 
}


.listItem .itemDetails .itemMeta .itemDate, .listItem .itemDetails .itemMeta .itemInfo {
  font-size: .875rem;
}    

.listItem .itemDetails .itemHeader .itemTag {
  font-size: .875rem;
}



/* ----WHITE SPACE ----*/

.article-content h2 {
  margin-bottom: 1.5em; /* increased from 0.5 main-site.css */
}

.bandContent{
  max-width: 1100px; /*Main container width with page content */
}

.splitColumns {
  display: flex;
  justify-content: space-between;
  display: -ms-flexbox;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  align-items: flex-start; }
  .splitColumns .column75 {
    width: 70%; } /* Change from main-site's 73% > 70% */
  .splitColumns .column67 {
    width: 65%; }
  .splitColumns .column50 {
    width: 48%; }
  .splitColumns .column33 {
    width: 31%; }
  .splitColumns .column25 {
    width: 23%; }
    .splitColumns .column25 .columnImage {
      width: 276px; }
  .splitColumns .columnImage {
    max-width: 100%;
    margin-bottom: 1em;
    background-repeat: no-repeat;
    background-size: cover; }

@media screen and (max-width: 1023px) { /* Same as main-site, but ensures that media query is not overrident by above rule */
  .splitColumns {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap; }
    .splitColumns .column75, .splitColumns .column67, .splitColumns .column50, .splitColumns .column33, .splitColumns .column25 {
      width: 100%; }
    .splitColumns.withMobileMargins .column75, .splitColumns.withMobileMargins .column67, .splitColumns.withMobileMargins .column50, .splitColumns.withMobileMargins .column33, .splitColumns.withMobileMargins .column25 {
      margin-bottom: 30px; } }


/*----- general LINKS ----- */

a {
  transition: color 0.3s;
}

/*----- COLORED LIST BULLET----*/

.article-content ul,
.learn-top-nav ul {
  list-style: none; /* Remove default bullets */
}

.article-content ul li::before, 
.learn-top-nav ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #CA225E; /* Change the color */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1.5em; /* Also needed for space (tweak if needed) */
  margin-left: -1.5em; /* Also needed for space (tweak if needed) */
}

.article-content ul > li > p {
  display: inline; /* to have content show up next to bullet */
}

.article-content ul > li { /*to add back in space between bullet items that I took away by making p display inline */
  margin-top: 1em;
  margin-bottom: 1em;
}



/*--------- BODY HEADERS -------*/

div.tagline {
  font-family: 'Lato', sans-serif !important;
  text-transform: uppercase;
  font-size: 1.2rem !important;
  font-weight: bold;
  letter-spacing: 2px;
}

.article-title,               /* Most page titles */
.column75 div.sectionTitle {  /* Learn page section title */
  font-family: 'Lato', sans-serif;
  color: #CA225E;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.4em; /* same as main-site, but duplicated here so it applies to Learn .sectionTitle */
}

h1, h2, h3, .itemTitle {   
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1.5pt;
}

h2 {
  color: #1a162d;
}

.itemTitle a { /* For Learn Page headers */
  color: #1a162d;
}

.itemTitle a:hover { /* For Learn List Page headers */
  color: #1a162d99;
  text-decoration: none;
}

h3 {
  font-size: 1.1em;
  color: #1a162d90;
}

h3 a {
  color: #CA225E;
  text-transform: none;
  font-size: 1.5em;
  letter-spacing: normal;
}

h4 {
  font-size: 1.1em;
  color: #1a162d90;
}


/* Style code that occurs in headers */

h2 code,
h3 code,
h4 code {
  text-transform: none !important;
  font-size: 1em !important;
}

/*---------TOC----------*/

/*TOC header font attributes*/
/*#TOC is for Getting Started body content TOC */
/*.column25 .sectionTitle is for right sidebar TOC headers */

/*#TOC, */
.column25 .sectionTitle, 
.sectionTitle a {
  text-transform: uppercase;
  letter-spacing: 2pt;
  font-size: 0.8rem !important;
  font-weight: bold;
}

  .sectionTitle, .sectionTitle a{
    color: #CA225E;
  }
  
 /* #TOC a { */ /* Get Started Page TOC */
   /*  color: #ca225ec9;
  } */


/*Sidebar TOC links for Learn and Packages pages */

#TableOfContents a, 
.articleCategory a {
  font-family: 'Lato', sans-serif;
  color: #1a162d99;
  transition: color 0.3s;
  font-size: 15px;
  letter-spacing: 1pt;
}

#TableOfContents a:hover,
.articleCategory a:hover {
  color: #1a162dde;
  text-decoration: none;
}


#TableOfContents ul li {
  padding-left: 0.5em; /* Wraps li when headers are too long */
  text-indent: -0.5em;
  
  /* Make spacing BETWEEN list items greater than wrapped lines WITHIN list items */
  padding-bottom: 1.2em;
  line-height: 1.2rem;
}




/*-- Getting Started Page Left Sidebar -- */

.column25-left .sectionTitle { /* Numbered content sections, hanging indent */
  display: flex; 
  text-transform: uppercase;
  letter-spacing: 2pt;
  font-size: 0.8rem !important;
  font-weight: bold;
}

.column25-left .sectionTitle a {
  font-family: 'Lato', sans-serif;
  color: #1a162d99;
  transition: color 0.3s;
  font-size: 15px !important;
  text-transform: none;
  letter-spacing: 1pt;
  font-weight: normal;
}

.column25-left .sectionTitle.start:first-of-type a { /* GET STARTED LABEL */
  text-transform: uppercase;
  letter-spacing: 2pt;
  font-size: 0.8rem !important;
  font-weight: bold;
}

.column25-left .sectionTitle a:hover:not(.current) {
  color: #1a162dde;
  text-decoration: none;
}

.column25-left .sectionTitle.current {
  color: #CA225E;
  text-decoration: none;
}

.column25 {
  padding-left: 3em;
  border-left: solid #d9d9d9 1pt;
}

.column25-left {
  padding-top: 20px;
  padding-right: 3em;
  border-right: solid #d9d9d9 1pt;
  max-width: 250px;
}

.column25-left .section {
  margin-bottom: 20px;
}

/* Learn List Page */

.learn-list .article-title {
  font-size: 1.1em;
}

.article-content.learn-list ul {
    list-style: none;
    border-left: 1pt solid #ffc0cb78;
}

.article-content.learn-list ul li::before {
  content: " ";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
}


.learning-objective-text {
  color: #1a162d9e;
}

.icon-attribution, 
.icon-attribution a {
  font-size: 9pt;
  text-transform: uppercase;
  color: #a19ea9;
}

/* Learn subsection*/

.learning-objective {
  color: #1a162dcf;
  font-size: 0.8em;
  letter-spacing: 1pt;
  display: inline-block;
}

.single-learning-objective-text {
  color: #1a162d9e;
  font-style: italic;
}





/*-------- NAVBAR --------- */

/*navbar header items */

a.productName {
  transition: color 0.3s; /*is this being applied? */
}

#menu {
  text-transform: uppercase;
  letter-spacing: 2pt;
  font-size: 0.8rem !important;
}
 
#rStudioHeader {
  -moz-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.15);
}

/*---- HOME BAND TEXT COLOR -----*/
/*first band*/

#homeContent .band.first a{
 } 
  
#homeContent .band.first a:hover {
  } 

/*second band*/
#homeContent .band.second {
  color: black;
  border-bottom: solid 1pt #d9d9d9;
  border-top: solid 1pt #d9d9d9;
} 


/* Easter egg in corner of homepage */

#homeContent .bee1 {
  display: block;
}

/*-----TABLES-----*/

.article-content {
  overflow-x: auto; /*was scroll, but we probably want to create a parent container around only tables*/
}

table tbody tr td:last-child {
  padding: 15px 13px;
}

table thead tr th:last-child {
    padding: 15px 13px;
}


.selectize-dropdown, 
.selectize-input.items.not-full.has-options.has-items {
    font-size: 0.8rem !important;
    text-transform: none !important;
}



/* MISC */
/* This is to specifically target the package tag links within GEtting Started.*/
/* This is a pretty brittle style rule and should probably get replaced */

.column75 > a {
  color: #1a162d80;
}

/*---- STICKY TOC for all w/ SMOOTH SCROLL-----*/

.column25, .column25-left {
  position: sticky;
  top: 5.53em;
}

html {
  scroll-behavior: smooth;
}


/*-----CUSTOM STICKY NOTE EVENTS-----*/

.event {
  -moz-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.1);
}

  .event:nth-child(2) {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
    
  .event:nth-child(3) {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

.section .event {
    border-top: 7pt solid #a19ea936;
    background-color: #eab0c41a;
}

.section .event a{
    color: #1a162d;
}

/* LEARN THUMBNAILS */

.flex-container.learn-list{
  display: flex;
}

.image-container.learn-list {
  width: 100px;
  margin-right: 2em;
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    margin: 2em auto;
}

.learn-thumbnail {
  display: inline;
  margin: 0 auto;
  width: auto;
}

.learn-list.itemDescription { /* "See all" link */
  margin-left: 2em;
}


/* Bracketed TOC for single articles */

a.learn-top-nav-item,
.tutorial #TableOfContents a {
  text-transform: uppercase;
  letter-spacing: 2pt;
  font-size: 0.8rem !important;
  font-weight: bold;
  color: #ca225ec9;
}

.tutorial #TableOfContents ul li {
  padding-bottom: 0.5em;
}

a.learn-top-nav-item:hover,
.tutorial #TableOfContents a:hover {
  color: #CA225E;
  text-decoration: none;
}


.listItem.learn-top-nav,
.listItem.tutorial {
   padding: 1em;
   position: relative;
}

.listItem.learn-top-nav:after,
.listItem.learn-top-nav:before,
.listItem.tutorial:after,
.listItem.tutorial:before {
    border: 1pt solid #ca225e3d; 
    bottom: 0;    
    content: '';
    position: absolute;
    top: 0;
    width: 2.5%;
}
.listItem.learn-top-nav:after,
.listItem.tutorial:after {
    border-left: none;
    right: 0;
}
.listItem.learn-top-nav:before,
.listItem.tutorial:before{
    border-right: none;
    left: 0;
}

/*----ANCHORS----*/

.anchor-container{
  position: relative;
}

.anchor{
  top: -100px; /* absolute value must be > than navbar */
  position: absolute;
}


/*----Single Tutorial TOC----*/

.tutorial #TableOfContents ul li::before {
	content: "\2022";
	color: #CA225E;
	display: inline-block;
	width: 1.5em;
	margin-left: -1.5em; 
}

.tutorial #TableOfContents ul {
	list-style: none;
	line-height: 1.6em;
	padding-left: 2.5em;
	margin-bottom: 0;
}

/*----Increase font sizes and spacing----*/

.listItem .itemDetails .itemDescription {
	font-size: 1.2em;
	line-height: 1.6em;
}

.article-title {
	line-height: 1.3em;
}

.articleCategory {
	padding-left: 0px;
}

#rStudioHeader #menu .menuItem:last-of-type {
	padding-right: 0px;
}

/*----DataTables formatting----*/


table.dataTable {
  display: block;
  width: 770px;
	text-align: left;
	font-size: 1rem;
	max-width: 770px;
	table-layout: fixed;
	word-wrap:break-word;
	overflow-x: auto;
}

table.dataTable tbody td {
	line-height: 1.5em;
}

table.dataTable thead th, 
table.dataTable thead td,
table.dataTable.no-footer, 
.dataTables_wrapper.no-footer .dataTables_scrollBody {
	border-bottom: 1px solid #a19ea936 !important;
}

table.dataTable thead {
	background-color: #eab0c41a;
	text-transform: uppercase;
}

/*----Make all TOCs sentence case----*/

#TableOfContents:first-letter {
  text-transform: capitalize;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

/*----Format tags taxonomy list on start pages----*/

.tags-list {
  margin-bottom: 20px;
}

.tags-list a {
  color: #1a162d99;
	transition: color 0.3s;
}

.tags-list a:hover {
	color: #1a162dde;
	text-decoration: none;
}

/*----Article footers with previous/next in section links----*/

.article-footer {
  border-top: solid #d9d9d9 1pt;
	margin-top: 30px;
	padding-top: 10px;
	font-size: .9em;
	color: #707070;
}

/*----Landing page----*/

#homeContent .bookCover {
	width: 600px;
	height: auto;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-transform: rotate(359deg);
	transform: rotate(359deg);
	float: left;
	margin: 60px 40px 40px 40px;
}



/*stickies in the  bands */
#homeContent .blurb .event {
  background-color: #eab0c400;
}


#homeContent .blurb .event {
	border: 1pt solid #eab0c452;
	background-color: #f5e2e800;
}

#homeContent .blurb .event a {
	color: #1a162d;
}

#homeContent .blurb .event .eventTitle,
#homeContent .blurb .event .eventTitle a {
  text-transform: uppercase;
  letter-spacing: 2pt;
  font-weight: bold !important;
  color: #ca235e;
  font-size: 0.85em;
}

#homeContent .event .eventTitle a:hover {
  color: #3c061e;
  text-decoration: none;
}

#homeContent .event .eventTitle a .fa-xs { /* font awesome icon */
  font-size: .8em; 
}

#homeContent .event .eventDetails {
  color: #272626;
  line-height: 30px;
  font-size: 18px;
}

#homeContent .event .eventDetails a {
	text-decoration: underline;
}

/*----Mobile display----*/

@media screen and (max-width: 1023px) {

  #homeContent .bookCover {
    margin: 40px auto;
  }
  
  .column25 {
	padding-left: 0em;
	border-left: none;
}

  .column25-left {
  position: static;
  padding-top: 50px;
	padding-right: 0em;
	border-right: none; 
	max-width: 100%;
	border-top: 1px solid #80808094;
}
  
  .column25-left .section .section {
   margin-bottom: 25px;
}

  .start {
	flex-direction: column-reverse;
}

/* dont show anchor link on small screens */
  h2 a.hanchor {
    visibility: hidden;
  }
}

@media screen and (max-width: 700px) {
  .flex-container.learn-list {
    display: block;
  }
  
  .image-container.learn-list {
    margin: 0 auto;
  }
}

/*---Giraffe easter egg */
.giraffe {
  height: 70px;
  width: 50px;
  background-image: url('../images/giraffe.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.hanchor { 
  font-size: 100%; 
  /*visibility: hidden; */
  color: #1a162d50;
  opacity: 0.6;
}

h2:hover a { 
  color: #1a162d99;
  /*visibility: visible;*/
  text-decoration: none;
  opacity: 0.9;
}


/* Copy to Clipboard */

.copy {
  width: inherit;
  background-color: #e2e2e2 ;
  border: none;
  border-radius: 2px;
  float: right;
  font-size: 60%;
  padding: 4px 4px 4px 4px;
}

/* pkgdown clipboard */

.hasCopyButton {
  position: relative;
}

.btn-copy-ex {
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
}

.hasCopyButton:hover button.btn-copy-ex {
  visibility: visible;
}

/* Bootstrap Tooltips */

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  opacity: 0;
}

.tooltip.show {
  opacity: 0.9;
}

.tooltip .arrow {
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.4rem;
}

.tooltip .arrow::before {
  position: absolute;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.bs-tooltip-top, .bs-tooltip-auto[x-placement^="top"] {
  padding: 0.4rem 0;
}

.bs-tooltip-top .arrow, .bs-tooltip-auto[x-placement^="top"] .arrow {
  bottom: 0;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
  top: 0;
  border-width: 0.4rem 0.4rem 0;
  border-top-color: #000;
}

.bs-tooltip-right, .bs-tooltip-auto[x-placement^="right"] {
  padding: 0 0.4rem;
}

.bs-tooltip-right .arrow, .bs-tooltip-auto[x-placement^="right"] .arrow {
  left: 0;
  width: 0.4rem;
  height: 0.8rem;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
  right: 0;
  border-width: 0.4rem 0.4rem 0.4rem 0;
  border-right-color: #000;
}

.bs-tooltip-bottom, .bs-tooltip-auto[x-placement^="bottom"] {
  padding: 0.4rem 0;
}

.bs-tooltip-bottom .arrow, .bs-tooltip-auto[x-placement^="bottom"] .arrow {
  top: 0;
}

.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  bottom: 0;
  border-width: 0 0.4rem 0.4rem;
  border-bottom-color: #000;
}

.bs-tooltip-left, .bs-tooltip-auto[x-placement^="left"] {
  padding: 0 0.4rem;
}

.bs-tooltip-left .arrow, .bs-tooltip-auto[x-placement^="left"] .arrow {
  right: 0;
  width: 0.4rem;
  height: 0.8rem;
}

.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
  left: 0;
  border-width: 0.4rem 0 0.4rem 0.4rem;
  border-left-color: #000;
}

.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #1a162d;
  border-radius: 0.25rem;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #1a162d;
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.left {
    padding: 0 5px;
    margin-left: -3px;
}
.tooltip.in {
    filter: alpha(opacity=90);
    opacity: .9;
}
.fade.in {
    opacity: 1;
}

/* button */

.btn-primary {
    color: #fff;
    background-color: #1a162db5 ;
    border-color: #1a162d;
}

.btn-primary:hover {
    color: #fcfcfc;
    background-color: #1a162d;
    border-color: #1a162d;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fade {
  transition: opacity 0.15s linear;
}

/*------- Div tip Shortcodes --------*/

div.note, 
div.rstudio-tip, 
div.warning {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px 1.5em;
  min-height: 120px;
  color: #1a162dcc;
  background-color: #91CBD738;
  border-top: 7pt solid #a19ea936;
  max-width: 100%;
  line-height: 1.75em;
  font-size: 0.85em;
  letter-spacing: 1pt;
}

div.note {
  background-image: url("../images/robot.png");
}

div.rstudio-tip {
  background-image: url("../images/rstudio.png");
}

div.warning {
  background-image: url("../images/error.png");
  background-color: #eab0c41a !important;
}

div.note code, 
div.rstudio-tip code {
  background-color: #91CBD765 !important;
  font-size: 1em;
}

div.warning code {
  background-color: #cb9faf52 !important;
  font-size: 1em;
}

div.help {
    padding: 1em;
    margin: 0 auto;
    padding-top: 72px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center 1em;
    color: #808080;
    background-color: #1a162d08;
    max-width: 74%;
    line-height: 1.3em;
    font-size: 0.75em;
    letter-spacing: 1pt;
    background-image: url(../images/help.png);
    text-align: center;
}

div.help:hover,
a.help-link:hover {
  background-color: #fcfcfc;
  text-decoration: none;
  transition: color 0.3s;
}

/*---fix code scrolling-- */
pre {
  white-space: pre-wrap;
}


/* Test Drive Button */

/* Style buttons */
.test-drive-btn {
  background-color: #eab0c46b;
  border: solid 1pt #ca225e47;
  color: #ca225e;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin: 1.5em auto;
  display: block;
  border-radius: 0;
}

/* Darker background on mouse-over */
.test-drive-btn:hover {
  background-color: #CA225E;
  color: #fcfcfc;
  border: 1pt solid;
}



