/* muli-300 - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/muli-v12-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Muli Light'), local('Muli-Light'),
       url('../fonts/muli-v12-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/muli-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/muli-v12-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/muli-v12-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/muli-v12-latin-300.svg#Muli') format('svg'); /* Legacy iOS */
}

/* muli-regular - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/muli-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Muli Regular'), local('Muli-Regular'),
       url('../fonts/muli-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/muli-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/muli-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/muli-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/muli-v12-latin-regular.svg#Muli') format('svg'); /* Legacy iOS */
}

/* muli-700 - latin */
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/muli-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Muli Bold'), local('Muli-Bold'),
       url('../fonts/muli-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/muli-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/muli-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/muli-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/muli-v12-latin-700.svg#Muli') format('svg'); /* Legacy iOS */
}



/* pt-mono-regular - latin */
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-mono-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Mono'), local('PTMono-Regular'),
       url('../fonts/pt-mono-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-mono-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-mono-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-mono-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-mono-v6-latin-regular.svg#PTMono') format('svg'); /* Legacy iOS */
}



