<script src="{{ "rmarkdown-libs/htmlwidgets/htmlwidgets.js" | relURL }}"></script>
<script src="{{ "rmarkdown-libs/jquery/jquery.min.js" | relURL }}"></script>
<link href="{{ "rmarkdown-libs/datatables-css/datatables-crosstalk.css" | relURL }}" rel="stylesheet" />
<script src="{{ "rmarkdown-libs/datatables-binding/datatables.js" | relURL }}"></script>
<link href="{{ "rmarkdown-libs/dt-core/css/jquery.dataTables.min.css" | relURL }}" rel="stylesheet" />
<link href="{{ "rmarkdown-libs/dt-core/css/jquery.dataTables.extra.css" | relURL }}" rel="stylesheet" />
<script src="{{ "rmarkdown-libs/dt-core/js/jquery.dataTables.min.js" | relURL }}"></script>
<link href="{{ "rmarkdown-libs/nouislider/jquery.nouislider.min.css" | relURL }}" rel="stylesheet" />
<script src="{{ "rmarkdown-libs/nouislider/jquery.nouislider.min.js" | relURL }}" ></script>
<link href="{{ "rmarkdown-libs/selectize/selectize.bootstrap3.css" | relURL }}"  rel="stylesheet" />
<script src="{{ "rmarkdown-libs/selectize/selectize.min.js" | relURL }}"  ></script>
<link href="{{ "rmarkdown-libs/crosstalk/css/crosstalk.css" | relURL }}" rel="stylesheet" />
<script src="{{ "rmarkdown-libs/crosstalk/js/crosstalk.min.js" | relURL }}"></script>
