{{ define "main" }}

{{ $page := . }}
{{ $banner := ($page.Resources.ByType "image").GetMatch "*-wd*" }}

<div class="band padForHeader pushFooter">
  <div class="bandContent">
    <div class="full splitColumns withMobileMargins">
      <div class="column75">
        
        <div class="section">
          <div class="sectionTitle">
            <a href="{{ .FirstSection.RelPermalink }}">
              <i class="fas fa-chevron-left"></i>&nbsp;Back to {{ .Section | title }}
            </a>
          </div>
        </div>

      <h1 class="article-title">{{ .Title | markdownify }}</h1>

      {{ $slug := .Param "slug" }}
      <div class="article-header">
        {{ with $banner }}<div class="photo" style="background-image: url('{{ .RelPermalink }}');">{{ end }}</div>
        {{ with $.Params.photo }}<div class="photoCredit">Photo by <a href="{{ .url }}">{{ .author }}</a></div>
      </div>
      {{ end }}

      {{ if or (eq .Section "articles") (eq .Section "blog") }}
      <span class="article-date"><i class="fas fa-calendar-day fa-fw"></i>&nbsp;&nbsp;{{ .Date.Format "2006/01/02" }}</span>
      {{ end }}
      
      {{ $show_authors := $.Site.Params.authors.show_single | default true }}
      {{ if and $show_authors (or (eq .Section "articles") (eq .Section "blog")) }}
        <p>
        <i class="fas fa-user-circle fa-fw"></i>
        {{ partial "pretty_author_names" . }}
      {{ end }}
        </p>
      
      {{ with $.Params.Description }}  
      <div class="learning-objective-container">
        <h2 class="learning-objective">{{ print "Learning objective" }}</h2>
        <p class="single-learning-objective-text">{{ . | markdownify }}</p>
      </div>
      {{ end }}

      <div class="article-content">
      {{ .Content }}
      </div>


      <div class="article-footer">
      <!--previous article-->
      <div style="float:left">
      {{ with .NextInSection }}
        <div class='itemTitle' align="left" style='font-size:.8em; line-height:2em'>Previous</div>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ end }}
      </div>
      
      <!--next article-->
      <div style="float:right">
      {{ with .PrevInSection }}
      <div class='itemTitle' align="right" style='font-size:.8em; line-height:2em'>Next</div>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ end }}
      </div>
     </div> 

      </div>

      <div class="column25">
        <div class="section hideOnMobile">
          <div class="sectionTitle">Contents</div>
          {{ .TableOfContents }}
        </div>
      
        <div class="section">
          <div class="sectionTitle">Resources</div>
          {{ partial "resources_sticky.html" .}}
        </div>
      </div>
      


    </div>
  </div>  <!-- bandContent -->
</div> <!-- band -->

{{ end }}
