{{ define "main" }}


<div class="band padForHeader pushFooter">
  <div class="bandContent">
    <div class="full splitColumns withMobileMargins">
      <div class="column75">
        <div class="sectionTitle">{{ .Title }}</div>
          
          <!--beginning of jump to section-->
          <div class="listItem">
            {{ range $index, $element := .Sections }}
                <a href="#{{ anchorize (.Title) }}">{{ .Title | markdownify }}</a>
          {{ end }}
          </div>
          
        <div>{{ range $index, $element := .Sections }}
              {{ $post := . }}
              
          <div class="listItem">
             {{ $card := (.Resources.ByType "image").GetMatch "*thumbnail*" }}
             {{ with $card }}
              <a class="itemImage project" href="{{ $post.RelPermalink }}" style="background-image: url('{{ .RelPermalink }}');"></a>
              {{ end }}
            <div class="itemDetails">
              <div class="itemHeader">
                <div class="itemTitle" id="{{ anchorize (.Title) }}">
                  <a href="#{{ anchorize (.Title) }}">{{ .Title | markdownify }}</a>
                  </div>
                {{ if ne $index 0 }} <!--do not show back to top for 1st section-->
                <div class="itemTag" aria-hidden="true">
                  <a href="#" class="back-to-top">
                    <span class="button_icon">
                      <i class="fas fa-chevron-up fa"></i>
                    </span>
                    {{ print "back to top"}}
                  </a>
                </div>
                {{ end }}
              </div>
              <div class="itemMeta">
                <div style = "display: flex;">
<div style="width: 100px;">
<!-- sorry! I know this is all wrong--> 
<div class="image-cropper"><img class="circle-thumbnail" src="../images/probability.png"></div></div>
                <div class="author article-content learn-list">
                    <ul>
                    <!-- Ranges through content/posts/*.md -->
                    {{ range .Pages }}
                        <li>
                        <a class="article-title" href="{{.Permalink}}">{{.Title}}</a>
                        {{ with .Description }}
                        <br> <p class="learning-objective-text"><em>{{ . | markdownify }}</em></p>
                        {{ end }}
                        </li>
                    {{ end }}
                    </ul>
                </div>
   </div>
                <div class="itemDescription">{{ default .Description | markdownify }}
                  <a class="readMore" href="{{ .RelPermalink }}">See all &#187;</a>
                </div>
                <div class="itemDate">
                  <div class="created">
                  <!--<i class="fas fa-box-open"></i>&nbsp;
                  {{ range $i, $tags := (.GetTerms "tags") }}
                      {{- if $i -}}, {{ end -}}
                      {{ with $tags }}
                      <a href="{{ .Permalink }}">{{- .LinkTitle -}}</a>
                      {{- end -}}
                  {{- end -}} -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{ end }}</div>
      {{ template "_internal/pagination.html" . }}
      </div>

{{ partial "learn-sidebar.html" . }}

    </div>
  </div>  <!-- bandContent -->
</div> <!-- band -->

{{ end }}
