.sidebar-menu-container {
  border-right: solid : #DDDDDD 1pt; /* $theme-grey */
  counter-reset: section;
}

#quarto-sidebar > * {
  padding-top: 3em;
  padding-right: 51px;
}

.sidebar-item {
  display: flex;
  margin-bottom: 30px;
}

div.sidebar-item-container {
  color: rgba(26, 22, 45, 0.6);
}

.sidebar-item:not(:first-child)::before {
  counter-increment: section;
  content: counter(section, decimal) "";
  padding-right: 0.5em;
  color:  #CA225E; /* $theme-cranberry */
}
